html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.map-container {
    position: relative;
    max-height: 90vh; 
}

.map-image {
    display: block; 
    width: auto;
    height: auto;
}

